* {
  margin: 0; 
  padding: 0;
}
.tree {
  text-align: center;
  zoom: 0.8;
}
.tree ul:first-child {
  display: inline-block;
}
.tree ul {
  padding-top: 20px; position: relative;
  transition: all 0.5s;
}
.tree li {
  float: left; text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 1px 0 1px;
  transition: all 0.5s;
}
.tree li::before, .tree li::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 1px solid #ccc;
  width: 50%; height: 20px;
}
.tree li::after{
  right: auto; left: 50%;
  border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}
.tree li:only-child{ 
  padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after{
  border: 0 none;
}
.tree li:last-child::before{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
  border-radius: 5px 0 0 0;
}
.tree ul ul::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #ccc;
  width: 0; height: 20px;
}
.tree .selected {
  border: 1px solid red !important;
}
.tree li a{
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 3px 3px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.5s;
}
.tree li a:hover {
  background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
.tree li a:hover {
  border-color:  #94a0b4;
}